//front-page map画像設定
@use "../../foundation/mixin";

.c__layer__map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.3);
    z-index: 10;
}
.c__layer__map-rgba {
    position: absolute;
    top: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(#000, 0.4);
    z-index: 5;
    @include mixin.breakpoint( tablet ) {
        width: 100%;
    };
    @include mixin.breakpoint( sp ) {
        width: 100%;
        height: 60%;
    }
}