.l-header {
    width: 100%;
    height: 217px;
    background-color: #FFF7EF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tab {
        //margin-top: 60px;
        flex-direction: column;
        justify-content: space-around;
    };
    &__left {
        margin: 0 3rem;
        @include tab {
            margin: 0;
        };
        a {
            color: #707070;
            font-size: 4rem;
            h1 {
                font-family: "roboto", sans-serif;
                font-size: 4rem;
                font-weight: 200;
                text-decoration: none;
                @include tab {
                    font-size: 2.5rem;
                    margin: 40px 0 38px 0;
                };
                @include sp {
                    margin: 40px 86px 38px 86px;
                }
            }
        }
    }
    &__form {
        margin-right: 30px;
        display: flex;
        @include tab {
            margin-bottom: 40px;
        };
        &__box {
            width: 72.3%;
            height: 46px;
            background-color: #FFFFFF;
            border-radius: 0.6rem;
            border: solid 1px #707070;
            font-size: 1.0rem;
            font-weight: 500;
            margin-right: 0.875rem;
            @include tab {
                left: 17.2%;
                margin-right: 1.7%;
            };
            @include sp {
                width: 230px;
                left: 6.4%;
                margin-right: 3.2%;
            };
        }
        &__button {
            width: 136px;
            height: 46px;
            font-family: "m-plus-1m", sans-serif;
            font-size: 1rem;
            background-color: #F2EDE9;
            border-radius: 0.6rem;
            border: solid 1px #707070;
            color: #707070;
            cursor: pointer;
            text-align: center;
            margin-bottom: 3px;
            @include tab {
                right: 17.2%;
            };
            @include sp {
                width: 78px;
                right: 8.3%;
            };
        }
    }
}

.fa-search {
    color: #808080;
    padding-left: 10px;
}