$tab: 1024px;
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }   
}

$sp: 599px;
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

/*
@mixin breakpoint( $point ) {
    @if $point == tablet {
        @media ( max-width: 1024px ) {
            @content ;
        }
    }
    @if $point == sp {
        @media ( max-width: 599px ) {
            @content ;
        }   
    }
}

SCSSには
@include mixin.breakpoint( tablet ) {
     〇〇〇〇〇〇〇〇: 〇〇〇;
}
*/