////archive,archive-search設定

.p-archive {
    &__top {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 239px;
        background: url(../img/archive-menu.jpg);
        background-size: cover;
        background-position: center;
        z-index: -5;
        @include tab {
            height: 283px;
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            z-index: -10;
        }
        &__text {
            display: flex;
            align-items: center;
            padding-left: 86px;
            @include sp {
                display: inline-block;
                padding: 0;
            }
            h2 {
                font-family: "roboto", sans-serif;
                color: #fff;
                font-size: 3.75rem;
                @include sp {
                    font-size: 2.25rem;
                    padding-left: 37px;
                }
            }
            p {
                font-family: "m-plus-1m", sans-serif;
                font-weight: bold;
                color: #fff;
                font-size: 1rem;
                padding-left: 20px;
                padding-top: 10px;
                @include sp {
                    padding-left: 37px;
                }
            }
        }
    }
}

.p-archive {
    &__middle {
        padding: 60px 6.44% 70px 6.44%;
        @include tab {
            padding: 36px 6.44% 37px 6.44%;
        };
        @include sp {
            padding: 30px 4.8% 19px 4.8%;
        }
        h4 {
            font-family: "m-plus-1m", sans-serif;
            font-size: 2.25rem;
            font-weight: bold;
            @include sp {
                font-size: 1.75rem;
            };
        }
        p {
            font-family: "m-plus-1m", sans-serif;
            font-size: 1rem;
            padding-top: 25px;
            line-height: 1.8;
            @include sp {
                padding-top: 30px;
            }
        }
    }
}

.p-archive {
    &__card {
        display: flex;
        padding: 0 6.44%;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        max-height: 471px;
        @include sp {
            flex-direction: column;
            padding: 0 5%;
            margin-bottom: 20.9px;
            max-height: 585.12px;
        }
        img {
            width: 100%;
            height: auto;
            position: relative;
            overflow: hidden;
            object-fit: cover;
            object-position: left;
            @include sp {
                background-size: cover;
                background-position: center;
            };
        }
        &__intro {
            background-color: #3C2B1C;
            width: 100%;
            height: auto;
            padding: 53px 7.7% 60px 4.6%;
            @include tab {
                padding: 30px 7.7% 40px 4.6%;
            };
            @include sp {
                height: 354.6px;
                padding: 31.5px 21.75% 43.7px 5.05%;
            };
            h3 {
                font-family: "m-plus-1m", sans-serif;
                color: #fff;
                font-size: 2.25rem;
                font-weight: 500;
                margin: 0;
                @include tab {
                    font-size: 1.25rem;
                };
            }
            h4 {
                font-family: "m-plus-1m", sans-serif;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 500;
                padding-top: 30px;
                margin: 0;
                @include tab {
                    font-size: 1rem;
                    padding-top: 24px;
                }
            }
            p {
                font-family: "m-plus-1m", sans-serif;
                color: #fff;
                font-size: 1rem;
                padding-top: 15px;
                padding-bottom: 60px;
                margin: 0;
                line-height: 1.6;
                @include tab {
                    padding-top: 10px;
                    padding-bottom: 40px;
                };
                @include sp {
                    padding-bottom: 0;
                }
            }
            a {
                font-family: "m-plus-1m", sans-serif;
                display: block;
                width: 292px;
                color: #707070;
                text-align: center;
                background-color: #fff;
                border-radius: 50px;
                font-size: 1rem;
                margin: 40px auto;
                padding: 22px;
                @include tab {
                    padding: 12.5px;
                    width: 163.16px;
                };
                @include sp {
                    margin: 15px 93px 43.7px 79.9px;
                };
            }
        }
    }
}