//single_img設定

.p-picture {
    &__single {
        img {
            width: 100%;
            max-height: 560px;
            object-fit: cover;
            object-position: bottom;
            padding: 0 5.2% 60px 5.2%;
            @include tab {
                max-height: 264px;
                padding: 0 7.2%;
            };
            @include sp {
                max-height: 154px;
                padding: 0 5.3% 30px 5.3%;
            }
        }
    }
    &__colum {
        width: 100%;
        display: flex;
        padding: 0 5.15% 60px 5.2%;
        @include tab {
            padding: 60px 7.2% 57px 7.2%;
        };
        @include sp {
            height: 170px;
            margin-bottom: 30px;
            padding: 0 5.3% 0 5.3%;
            overflow: hidden;
        };
        p {
            font-family: "m-plus-1m", sans-serif;
            line-height: 1.5;
        }
    }
    .top img {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: top;
        padding-right: 2%;
        @include tab {
            width: 43%;
            padding-right: 2.5%;
        };
        @include sp {
            width: 45%;
            padding-right: 2.4%;
        };
        >p {
            text-align: right;
        }
    }
    .bottom {
        flex-direction: row-reverse;
        >img {
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: top;
            padding-left: 2%;
            @include tab {
                width: 43%;
                padding-left: 2.5%;
            };
            @include sp {
                width: 45%;
                padding-left: 2.4%;
            };
            >P {
                text-align: left;
            }
        }
    }
    &__half {
        margin-bottom: 60px;
        text-align: center;
        @include tab {
            padding-top: 4px;
            margin-bottom: 241px;
        };
        @include sp {
            padding-top: 0;
            margin-bottom: 30px;
        }
        img {
            width: 581px;
            height: auto;
            @include sp {
                width: 72%;
            };
        }
    }
    &__tile {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 5.05% 0 5.2%;
        @include tab {
            padding: 0 7.2%;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 20px;
            flex-wrap: none;
            justify-content: none;
        };
        @include sp {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }
        img {
            width: 32%;
            margin-bottom: 20px;
            @include tab {
                width: 100%;
                margin-bottom: 0;
            };
            @include sp {
                width: 100%;
            }
        }
    }
}